/*All Major Components CSS start*/
.btn{
    width: 160px;
    margin: 15px;
    background: #fcba03;
    color: #fff;
}
.btn:hover{
    width: 160px;
    background: #fff;
    margin: 15px;
}
/*END!!!!*/

/*Quick Donate Button CSS start*/
.quick_donate{
    display: flex;
    background: #000;
    color: #fff;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}
.donate_button{
    background: #fff;
    border-style: none;
    height: 40px;
}
.donate_button:hover{
    background: #fcba03;
    color: #fff;
    border-style: none;
    height: 40px;
}
/*END!!!!*/

/*Navigation bar CSS start*/
.navbar{
    position: sticky;
    top: 0;
    background: #fcba03;
    height: auto;
    z-index: 1;
}
.navbar-nav a{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    padding: 15px;
    width: 160px;
    text-align: center;
    margin: 5px;
}
.navbar-nav a:hover {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 15px;
    width: 160px;
    text-align: center;
    border-radius: 35px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}
/*.navbar-nav a.active {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 15px;
    width: 160px;
    text-align: center;
    border-radius: 35px;
    height: 50px;
    margin: 5px;
}*/
/*END!!!!*/

/*Banner CSS start*/
.carousel-item{
    max-height: 500px;
    align-items: center;
}
.carousel-item div{
    position: absolute ;
    top: 150px;
    left: 150px;
    color: #fff;
    width: 60%;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
/*END!!!!*/

/*Tablets CSS start*/
.tablet{
    background: #e6e6e6;
    border-radius: 25px;
}
.tablet:hover{
    background: #fcba07;
    color: #fff;
}
/*END!!!!*/

/*Text Box CSS start*/
.text_box{
    display: flex;
    align-self: center;
    margin: 50px 0px 50px 0px;
    width: 100%;
    height: auto;
    color: #000;
    border-color: #fcba07;
    border-radius: 25px;
    background:#e6e6e6;
}
/*END!!!!*/

/*Footer CSS start*/
#footer{
    display: flex;
    background: #fcba07;
    height: auto;
    width: 100%;
}
/*END!!!!*/

@media (max-width: 1024px ){
    /*Text Box CSS start*/
    .text_box_w{
        margin: 50px 10px 50px 10px;
        width: 90%;
        height: 300px;
        border-color: #fcba07;
        border-radius: 25px;
        background: #fff;
    }
    .text_box_r{
        align-self: center;
        margin: 50px 10px 50px 10px;
        width: 90%;
        height: 300px;
        border-color: #fff;
        border-radius: 25px;
        background: #fcba07;
    }
    /*END!!!!*/

    /*Quick Donate Button CSS start*/
    .quick_donate{
        display: flex;
        background: #000;
        color: #fff;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px 0px 0px;
    }
    .donate_button{
        background: #fff;
        border-style: none;
        height: 40px;
    }
    .donate_button:hover{
        background: #fcba03;
        color: #fff;
        border-style: none;
        height: 40px;
    }
    /*END!!!!*/


    .navbar-nav span {
        color: #000;
        text-decoration: none;
        background-color: #fff;
        background-color: transparent;
        padding: 15px;
        width: 90%;
        text-align: center;
        border-radius: 35px;
        height: 50px;
        margin: 5px;
    }
    .navbar-nav a:hover {
        color: #000;
        text-decoration: none;
        background-color: #fff;
        padding: 15px;
        width: 90%;
        text-align: center;
        border-radius: 35px;
        height: 50px;
        margin: 5px;
    }
    /*.navbar-nav span.active {
        color: #000;
        text-decoration: none;
        background-color: #fff;
        padding: 15px;
        width: 90%;
        text-align: center;
        border-radius: 35px;
        height: 50px;
        margin: 5px;
    }*/
/*END!!!!*/
}