body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Bebas Neue', cursive;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
